body {
    margin: 0;
    padding: 0;
    font-family:'Barlow', sans-serif;
    font-size: 12px;
    
}


.header-container {
    background-image:url("design/images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;/*ocultar cualquier contenido que se desborde*/
    width: 100%;
    height: 100vh; /* Mantiene el tamaño que se pone, en la pantalla de nav */

}


.photo-container {
    position:absolute; /*permite que la imagen se ajuste dentro del contenedor*/
    width: 100%;
    height: 100%; /* Para que la imagen ocupe todo el espacio de `header-container` */

}


.header-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*mantiene la proporción de la imagen y cubre el espacio*/
    object-position:center; /*centra la imagen en el contenedor*/

}


.header-content {
    position: absolute;
    top: 10px; /* mantiene el contenido en la parte superior */
    left: 20px;
    right: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    z-index: 1; /*asegura que el contenido esta sobre la imagen*/

}


.logo {
    font-size: 9px;
    margin: 0;
    letter-spacing: 0.3em;

}


/*.h1{

}*/


.menu ul {/*edicion de la lista ul*/
    list-style: none; /* Quita los puntos de las listas */
    margin: 0;
    padding: 0;
    display: flex;

}


.menu li {
    margin: 0px 20px;
    
}


.menu a {
    text-decoration: none;
    color: whitesmoke;
    /*font-weight: bold;*/
    border-radius: 5px;
    transition: background-color 0.3s; padding:  0.3s border-radius 0.3s;/*transicion cambio bototnes*/
    display:inline-block; /*permite que padding y border-radius se apliquen bien*/

}

/*todo lo que quiera cambiar con la interacción del raton en el menu nav se tiene que manifestar
tanto en :hover como en :active pues quiero que cambie con el paso del raton o cuando se pulsa el boton*/
.menu li a:hover{ /*:hover para cambio de color de fondo cuando se pasa el raton por encima*/
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    text-transform: uppercase;/*convertir el texto en mayusculas*/
    font-family: 'Fraunces', serif;
    font-size:9px ;
    padding: 10px 10px;/*forma del cambio cuando posicionamos raton en menu nav*/
    border-radius: 15px;

}


.menu li a:active{/* :active para cambio de color de fondo cuando el enlace se presiona*/
    background-color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Frances', serif;
    font-size: 9px;
    padding: 10px 10px;
    border-radius: 15px;

}


.we-are h1{
    font-family:'Fraunces', serif;
    position:absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color:whitesmoke;
    font-size: 28px;
    letter-spacing: 0.6em;
    font-weight:bold;

}
/*HASTA AQUI EL HEADER.
EMPIEZA EL BODY*/


.text-photo{ /*contenedor padre*/
    display:flex;
    flex-direction: column;
    /*flex-wrap: wrap;/*permite que los elementos se envuelvan*/
    width:100%;
    height:auto;
    /*margin: auto;*/
    background-color: whitesmoke;
    padding: 0;
    margin: 0;

}


.row {
    display: flex;/*organiza los elementos row o column, por defecto row*/
    width: 100%;
    height:60vh;
    align-items: center;/*centra verticalmente el contenido*/
    justify-content: center; /*centra horizontalmente el contenido*/
    padding: 0px;
    /*box-sizing: border-box;*/

}


.row-text{
    font-family:'Fraunces', serif; 
    width:50%;
    height:100%;
    padding:0px 10%;
    box-sizing: border-box; /*asegura que el padding no afecte al tamaño total*/
    text-align: left;

}


h2{
    font-size:36px;
    font-weight:bold;
    margin:10px 0;
    padding:40% 0 0;
}


p{
    font-size: 14px;
    margin: 0;

}


.row-photo{
    width:50%;
    height:100%;
    overflow: hidden;
 /*--oculta cualquier parte de la imagen que se salga del contenedor*/

    /*object-fit: cover; /*mantiene la proporción de la imagen y cubre el espacio
    object-position:center;*/
}

/*.trnasform-egg, .cup-stand{
    flex-direction: row;

}

.egg-photo img , .cup-photo img{
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.stand-text, .tranform-egg{
    width: 50%;

}*/


img{
    max-width: 100%;
    height:auto;
    object-fit:cover;
    object-position: center;



}


.graphic{
    background-image:url("design/images/desktop/image-graphic-design.jpg");
    background-size:cover;
    background-position:center;
    font-family:'Fraunces', serif; 
    text-align: center;/*centra el texto en el centro*/
    
}


.photography{
    background-image:url("design/images/desktop/image-photography.jpg");
    background-size: cover;
    background-position:center;
    font-family:'Fraunces', serif;
    text-align: center;
    
}


.diferent-h{
    font-size: 24px;
    margin:10px 0;
    padding:40% 20% 20px;

}


.diferent-p{
    font-size: 14px;
    margin: 0;
    padding: 0 20%;

}


@media(max-width: 376px){
    .header-container{
        height: 50vh;
        background-position:center;

      }  
    .text-photo{
        display:flex;
        flex-direction: column;

    }
}
/*@media(min-width: 1440px){}


 para movil flex-direction:column;*/